
body{
    background-color: #000000 ;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

html{
    color: #fefefe;
    font-family: 'SF Pro Display', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
}
p{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 414px;
    overflow: scroll;

 

}



.menuBar{
position: fixed;
top: 0;
width: 100%;
max-width: 414px;
 padding: 20px 0px 5px 5px;
display: flex;
justify-content: space-between;
font-weight:500;
background: fixed;


}

.barIcons{

}

.barIcon{
    width: 1.3em;
}

.screen{
    height: 37%;
    
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: end;
    margin: 0 0 10px 0 ;
}

.numScreen{
    margin-right: 20px;
    font-size: 80px;
    font: SF Pro Display Italic 100;
}

.pad{
    width: 95%;
    margin: 0 auto;
    height: 50%;
    display: grid;
    row-gap: 13px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.grid-2-span{
    grid-column: 2 span;
    width: 180px;
    text-align: start;
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 3% 1fr;
}


button{
    color: white;
    font-size: 35px;
    background-color: #333333;
    border: none;
    border-radius: 100px;
    width: 75px;
    height: 75px;

}


.orrange{
    background-color: #F1A33B;
}
.grey{
    background-color: #A5A5A5;
}

.equals{
    background-color: #F1A33B;
}

.bottom{
    position:absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    justify-items: end;
}

.bar{
    height: 6px;
    width: 150px;
    border-radius: 60px;
    background: fixed;
    background-color: white;
    margin: 0 auto;

}