
body{
    background-color: #121212 ;
}

html{
    color: #fefefe;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
}
p{
    padding: 0;
    margin: 0;
}
.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    max-width: 414px;
    overflow: scroll;
}

.menuBar{
position: fixed;
top: 0;
width: 100%;
max-width: 414px;
 padding: 20px 0px 5px 5px;
display: flex;
justify-content: space-between;
font-weight:500;
background: fixed;
background-color: #121212;

}

.barIcons{

}

.barIcon{
    width: 1.3em;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 2px 0 10px;
    
}
h4{
    font-size: 1.4em;
    margin: 0;
}

.icon{
    width: 1.7em;
    margin: 10px 0.6em 0 0.6em  ;
}

.genres{
    display: flex;
    align-items: center;
    margin: 20px 2px 0 10px;
    overflow: scroll;
    flex-wrap: wrap;
}

.genre{
font-size: 0.9em;
padding: 10px 20px 10px 20px;
background: fixed #121212;
background-color:#292929 ;
border-radius: 20px;
margin-right: 13px;
margin-bottom: 10PX;
width: MAX-content;
}


.bigGenres{
    font-size: 0.8em;
display: flex;
width:mAX-content;
margin-bottom: 30px;
overflow: scroll;
}

.bigGenre{
    margin: 20px 0 0 10px;
display: flex;
align-items: center;
background: fixed;
background-color: #292929;
border-radius: 4px;
width: fit-content;
padding-right: 30px;
line-height: 20px;
}
.iconSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigGenreIcon{
    width: 27px;
    margin: 0;
    margin-right: 10px;
    padding:  15px 15px 15px 15px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    background-color: #242424;

}
.mixes{
    margin-left: 10px;
    display: flex;
    overflow: scroll;
}

.mix{
    margin: 15px 15px 0 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background: fixed;
border-radius: 4px;
width: fit-content;
line-height: 20px;
color:#a7a7a7;
font-size: 0.9em;
height: 220px;
margin-bottom: 20px;
}

.mix .text{
    width: 150px;
    margin: 0;
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.mixiconSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigmixIcon{
    width: 90px;
    margin: 0;
    padding:  37px;
    padding-right: 40px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    background-color: #242424;

}

.recents{
    margin-left: 10px;
    display: flex;
    overflow: scroll;
}


.recent{
    margin: 15px 15px 0 0;
display: flex;
flex-direction: column;
align-items: flex-start;
background: fixed;
border-radius: 4px;
width: fit-content;
line-height: 20px;
color:#a7a7a7;
font-size: 0.9em;
}

.recent p{
    margin: 0;
    margin-top: 7px;
}
.recenticonSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigrecentIcon{
    width: 90px;
    margin: 0;
    padding:  14px;
    padding-left: 13px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    background-color: #242424;

}

.bottomBar{
    position:fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background: fixed;
    background-color: #121212;
    width: 100vw;
    max-width: 414px;

}
.bottom{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: fixed;
border-radius: 4px;
width: fit-content;
line-height: 20px;
color:#a7a7a7;
font-size: 0.9em;
margin: 0 10px 10px 10px;
}

.bottom p{
    font-size: 0.8em;
    margin: 0;
    margin-top: 0px;
    text-align: center;
}
.bottomiconSide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbottomIcon{
    width: 25px;
    margin: 20px;
    margin-bottom: 2px;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;



}
